<svg id="svg_63">
	<defs id="defs_64">
		<filter id="filter_65">
			<fecolormatrix id="feColorMatrix_66">
			</fecolormatrix>
			<fecomponenttransfer id="feComponentTransfer_67">
				<fefuncr id="feFuncR_68">
				</fefuncr>
				<fefuncg id="feFuncG_69">
				</fefuncg>
				<fefuncb id="feFuncB_70">
				</fefuncb>
				<fefunca id="feFuncA_71">
				</fefunca>
			</fecomponenttransfer>
			<fecomposite id="feComposite_72">
			</fecomposite>
		</filter>
	</defs>
</svg>
<svg id="svg_73">
	<defs id="defs_74">
		<filter id="filter_75">
			<fecolormatrix id="feColorMatrix_76">
			</fecolormatrix>
			<fecomponenttransfer id="feComponentTransfer_77">
				<fefuncr id="feFuncR_78">
				</fefuncr>
				<fefuncg id="feFuncG_79">
				</fefuncg>
				<fefuncb id="feFuncB_80">
				</fefuncb>
				<fefunca id="feFuncA_81">
				</fefunca>
			</fecomponenttransfer>
			<fecomposite id="feComposite_82">
			</fecomposite>
		</filter>
	</defs>
</svg>
<svg id="svg_83">
	<defs id="defs_84">
		<filter id="filter_85">
			<fecolormatrix id="feColorMatrix_86">
			</fecolormatrix>
			<fecomponenttransfer id="feComponentTransfer_87">
				<fefuncr id="feFuncR_88">
				</fefuncr>
				<fefuncg id="feFuncG_89">
				</fefuncg>
				<fefuncb id="feFuncB_90">
				</fefuncb>
				<fefunca id="feFuncA_91">
				</fefunca>
			</fecomponenttransfer>
			<fecomposite id="feComposite_92">
			</fecomposite>
		</filter>
	</defs>
</svg>
<svg id="svg_93">
	<defs id="defs_94">
		<filter id="filter_95">
			<fecolormatrix id="feColorMatrix_96">
			</fecolormatrix>
			<fecomponenttransfer id="feComponentTransfer_97">
				<fefuncr id="feFuncR_98">
				</fefuncr>
				<fefuncg id="feFuncG_99">
				</fefuncg>
				<fefuncb id="feFuncB_100">
				</fefuncb>
				<fefunca id="feFuncA_101">
				</fefunca>
			</fecomponenttransfer>
			<fecomposite id="feComposite_102">
			</fecomposite>
		</filter>
	</defs>
</svg>
<svg id="svg_103">
	<defs id="defs_104">
		<filter id="filter_105">
			<fecolormatrix id="feColorMatrix_106">
			</fecolormatrix>
			<fecomponenttransfer id="feComponentTransfer_107">
				<fefuncr id="feFuncR_108">
				</fefuncr>
				<fefuncg id="feFuncG_109">
				</fefuncg>
				<fefuncb id="feFuncB_110">
				</fefuncb>
				<fefunca id="feFuncA_111">
				</fefunca>
			</fecomponenttransfer>
			<fecomposite id="feComposite_112">
			</fecomposite>
		</filter>
	</defs>
</svg>
<svg id="svg_113">
	<defs id="defs_114">
		<filter id="filter_115">
			<fecolormatrix id="feColorMatrix_116">
			</fecolormatrix>
			<fecomponenttransfer id="feComponentTransfer_117">
				<fefuncr id="feFuncR_118">
				</fefuncr>
				<fefuncg id="feFuncG_119">
				</fefuncg>
				<fefuncb id="feFuncB_120">
				</fefuncb>
				<fefunca id="feFuncA_121">
				</fefunca>
			</fecomponenttransfer>
			<fecomposite id="feComposite_122">
			</fecomposite>
		</filter>
	</defs>
</svg>
<svg id="svg_123">
	<defs id="defs_124">
		<filter id="filter_125">
			<fecolormatrix id="feColorMatrix_126">
			</fecolormatrix>
			<fecomponenttransfer id="feComponentTransfer_127">
				<fefuncr id="feFuncR_128">
				</fefuncr>
				<fefuncg id="feFuncG_129">
				</fefuncg>
				<fefuncb id="feFuncB_130">
				</fefuncb>
				<fefunca id="feFuncA_131">
				</fefunca>
			</fecomponenttransfer>
			<fecomposite id="feComposite_132">
			</fecomposite>
		</filter>
	</defs>
</svg>
<svg id="svg_133">
	<defs id="defs_134">
		<filter id="filter_135">
			<fecolormatrix id="feColorMatrix_136">
			</fecolormatrix>
			<fecomponenttransfer id="feComponentTransfer_137">
				<fefuncr id="feFuncR_138">
				</fefuncr>
				<fefuncg id="feFuncG_139">
				</fefuncg>
				<fefuncb id="feFuncB_140">
				</fefuncb>
				<fefunca id="feFuncA_141">
				</fefunca>
			</fecomponenttransfer>
			<fecomposite id="feComposite_142">
			</fecomposite>
		</filter>
	</defs>
</svg>
<div id="DIV_143">
	<section id="SECTION_144">
		<div id="DIV_145">
			<div id="DIV_146">
				<div id="DIV_147">
					<div id="DIV_148">
						<div id="DIV_149">
							<style id="STYLE_150">/*! elementor - v3.6.3 - 12-04-2022 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}
							</style><span id="SPAN_151">AS VAGAS ENCERRAM EM BREVE</span>
						</div>
					</div>
					<div id="DIV_152">
							<div id="DIV_153">
								<style id="STYLE_154">/*! elementor-pro - v3.6.4 - 15-03-2022 */
.elementor-widget-countdown .elementor-countdown-expire--message{display:none;padding:20px;text-align:center}.elementor-widget-countdown .elementor-countdown-wrapper{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.elementor-widget-countdown .elementor-countdown-item{padding:20px 0;text-align:center;color:#fff}.elementor-widget-countdown .elementor-countdown-digits,.elementor-widget-countdown .elementor-countdown-label{line-height:1}.elementor-widget-countdown .elementor-countdown-digits{font-size:69px}.elementor-widget-countdown .elementor-countdown-label{font-size:19px}.elementor-widget-countdown.elementor-countdown--label-block .elementor-countdown-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-right:auto;margin-left:auto}.elementor-widget-countdown.elementor-countdown--label-block .elementor-countdown-digits,.elementor-widget-countdown.elementor-countdown--label-block .elementor-countdown-label{display:block}.elementor-widget-countdown.elementor-countdown--label-block .elementor-countdown-item{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.elementor-widget-countdown.elementor-countdown--label-inline{text-align:center}.elementor-widget-countdown.elementor-countdown--label-inline .elementor-countdown-item{display:inline-block;padding-left:5px;padding-right:5px}
								</style>
								<div id="DIV_155">
										<div id="DIV_156">
											<span id="SPAN_157">00</span> <span id="SPAN_158">Dias</span>
										</div>
										<div id="DIV_159">
											<span id="SPAN_160">00</span> <span id="SPAN_161">Horas</span>
										</div>
										<div id="DIV_162">
											<span id="SPAN_163">00</span> <span id="SPAN_164">Minutos</span>
										</div>
										<div id="DIV_165">
											<span id="SPAN_166">00</span> <span id="SPAN_167">Segundos</span>
										</div>
									</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section>
	<section id="SECTION_168">
				<div id="DIV_169">
					<div id="DIV_170">
						<div id="DIV_171">
							<div id="DIV_172">
								<div id="DIV_173">
									<style id="STYLE_174">/*! elementor - v3.6.3 - 12-04-2022 */
.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}
									</style><img width="297" height="83" src="https://cimt.com.br/wp-content/uploads/2022/01/logo.png" alt="" id="IMG_175" />
									<noscript id="NOSCRIPT_176">
											<img width="297" height="83" src="https://cimt.com.br/wp-content/uploads/2022/01/logo.png" alt="" />
										</noscript>
								</div>
							</div>
							<div id="DIV_177">
									<div id="DIV_178">
										<h2 id="H2_179">
											Descubra como mudar sua mentalidade <span id="SPAN_180">e alcançar a vida que você deseja</span>
										</h2>
									</div>
								</div>
							<div id="DIV_181">
									<div id="DIV_182">
										<div id="DIV_183">
											 <a id="A_184"> <span id="SPAN_185"> <span id="SPAN_186">VAGAS ENCERRADAS</span></span></a>
										</div>
									</div>
								</div>
						</div>
					</div>
					<div id="DIV_187">
							<div id="DIV_188">
								<div id="DIV_189">
									<div id="DIV_190">
										<img width="676" height="521" src="https://cimt.com.br/wp-content/uploads/2022/03/casal1-2-min.png" alt="" id="IMG_191" />
										<noscript id="NOSCRIPT_192">
											<img width="676" height="521" src="https://cimt.com.br/wp-content/uploads/2022/03/casal1-2-min.png" alt="" />
										</noscript>
									</div>
								</div>
							</div>
						</div>
				</div>
			</section>
	<section id="SECTION_193">
					<div id="DIV_194">
						<div id="DIV_195">
							<div id="DIV_196">
								<div id="DIV_197">
									<div id="DIV_198">
										<h2 id="H2_199">
											CORPO INTELIGENTE<br id="BR_200" /> <span id="SPAN_201">MINDSET TRINCADO</span>
										</h2>
									</div>
								</div>
								<div id="DIV_202">
									<div id="DIV_203">
										<style id="STYLE_204">/*! elementor - v3.6.3 - 12-04-2022 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}
										</style> Mude sua realidade e melhore seus resultados nas principais áreas da sua vida: <b id="B_205">relacionamento, dinheiro e saúde.</b>
									</div>
								</div>
								<div id="DIV_206">
										<div id="DIV_207">
											<p id="P_208">
												Todos nós temos crenças que influenciam nossos resultados e, muitas vezes, de forma inconsciente. Por isso, depois de anos de estudos, resolvemos colocar em prática tudo o que aprendemos, então, criamos um passo a passo com técnicas de repetição para fortalecermos a nossa mente e eliminarmos as nossas maiores crenças limitantes. A CIMT é um programa de mudança de mentalidade e expansão de consciência para você alcançar a vida que realmente quer.
											</p>
										</div>
									</div>
							</div>
						</div>
					</div>
				</section>
	<section id="SECTION_209">
						<div id="DIV_210">
						</div>
						<div id="DIV_211">
							<div id="DIV_212">
								<div id="DIV_213">
									<div id="DIV_214">
										<div id="DIV_215">
											Você deve estar se perguntando:
										</div>
									</div>
									<div id="DIV_216">
										<div id="DIV_217">
											<h2 id="H2_218">
												<span id="SPAN_219">COMO FUNCIONA A CIMT?</span>
											</h2>
										</div>
									</div>
									<div id="DIV_220">
										<div id="DIV_221">
											Criamos uma metodologia baseada em repetição, com tudo que aplicamos diariamente para mudar nossa mentalidade e transformar nossas vidas. É um verdadeiro lifestyle com conteúdos totalmente organizados para você incorporar na sua rotina.
										</div>
									</div>
									<section id="SECTION_222">
										<div id="DIV_223">
											<div id="DIV_224">
												<div id="DIV_225">
													<div id="DIV_226">
														<div id="DIV_227">
															<h2 id="H2_228">
																Modelo prático para alcançar objetivos
															</h2>
														</div>
													</div>
													<div id="DIV_229">
														<div id="DIV_230">
															Criamos 22 passos totalmente práticos e estruturados para você alcançar a vida dos sonhos.
														</div>
													</div>
													<div id="DIV_231">
														<div id="DIV_232">
															Com destaque para três passos:
														</div>
													</div>
													<div id="DIV_233">
														<div id="DIV_234">
															<link rel="stylesheet" href="https://cimt.com.br/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css" id="LINK_235" />
															<ul id="UL_236">
																<li id="LI_237">
																	 <span id="SPAN_238"><i id="I_239"></i></span> <span id="SPAN_240">Sua mente pode curar o seu corpo</span>
																</li>
																<li id="LI_241">
																	 <span id="SPAN_242"><i id="I_243"></i></span> <span id="SPAN_244">Relacionamento é sempre sobre você</span>
																</li>
																<li id="LI_245">
																	 <span id="SPAN_246"><i id="I_247"></i></span> <span id="SPAN_248">Dinheiro é energia</span>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_249">
												<div id="DIV_250">
													<div id="DIV_251">
														<div id="DIV_252">
															<h2 id="H2_253">
																Leitura e interpretação dos nossos top 4 livros
															</h2>
														</div>
													</div>
													<div id="DIV_254">
														<div id="DIV_255">
															Nós não só lemos eles de forma integral (via podcast – o que facilita DEMAIS) como os INTERPRETAMOS e esse é o grande diferencial para os integrantes.
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</section>
	<section id="SECTION_256">
						<div id="DIV_257">
							<div id="DIV_258">
								<div id="DIV_259">
									<div id="DIV_260">
										<div id="DIV_261">
											<h2 id="H2_262">
												3 GRANDES <span id="SPAN_263">DESAFIOS</span>
											</h2>
										</div>
									</div>
									<section id="SECTION_264">
										<div id="DIV_265">
											<div id="DIV_266">
												<div id="DIV_267">
													<div id="DIV_268">
														<div id="DIV_269">
															<style id="STYLE_270">/*! elementor - v3.6.3 - 12-04-2022 */
.elementor-widget-image-box .elementor-image-box-content{width:100%}@media (min-width:768px){.elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper,.elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex}.elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper{text-align:right;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper{text-align:left;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.elementor-widget-image-box.elementor-position-top .elementor-image-box-img{margin:auto}.elementor-widget-image-box.elementor-vertical-align-top .elementor-image-box-wrapper{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.elementor-widget-image-box.elementor-vertical-align-middle .elementor-image-box-wrapper{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.elementor-widget-image-box.elementor-vertical-align-bottom .elementor-image-box-wrapper{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}}@media (max-width:767px){.elementor-widget-image-box .elementor-image-box-img{margin-left:auto!important;margin-right:auto!important;margin-bottom:15px}}.elementor-widget-image-box .elementor-image-box-img{display:inline-block}.elementor-widget-image-box .elementor-image-box-title a{color:inherit}.elementor-widget-image-box .elementor-image-box-wrapper{text-align:center}.elementor-widget-image-box .elementor-image-box-description{margin:0}
															</style>
															<div id="DIV_271">
																	<figure id="FIGURE_272">
																		<img width="27" height="53" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2027%2053'%3E%3C/svg%3E" alt="" id="IMG_273" />
																		<noscript id="NOSCRIPT_274">
																			<img width="27" height="53" src="https://cimt.com.br/wp-content/uploads/2022/01/1.png" alt="" />
																		</noscript>
																	</figure>
																	<div id="DIV_275">
																		<h3 id="H3_276">
																			Fortaleça suas habilidades mentais
																		</h3>
																		<p id="P_277">
																			Use suas habilidades mentais para construir a vida que você realmente quer e aprenda a acessar as ideias que te levarão até ela.
																		</p>
																	</div>
																</div>
														</div>
													</div>
													<div id="DIV_278">
															<div id="DIV_279">
																<style id="STYLE_280">/*! elementor - v3.6.3 - 12-04-2022 */
.elementor-widget-divider{--divider-border-style:none;--divider-border-width:1px;--divider-color:#2c2c2c;--divider-icon-size:20px;--divider-element-spacing:10px;--divider-pattern-height:24px;--divider-pattern-size:20px;--divider-pattern-url:none;--divider-pattern-repeat:repeat-x}.elementor-widget-divider .elementor-divider{display:-webkit-box;display:-ms-flexbox;display:flex}.elementor-widget-divider .elementor-divider__text{font-size:15px;line-height:1;max-width:95%}.elementor-widget-divider .elementor-divider__element{margin:0 var(--divider-element-spacing);-ms-flex-negative:0;flex-shrink:0}.elementor-widget-divider .elementor-icon{font-size:var(--divider-icon-size)}.elementor-widget-divider .elementor-divider-separator{display:-webkit-box;display:-ms-flexbox;display:flex;margin:0;direction:ltr}.elementor-widget-divider--view-line_icon .elementor-divider-separator,.elementor-widget-divider--view-line_text .elementor-divider-separator{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.elementor-widget-divider--view-line_icon .elementor-divider-separator:after,.elementor-widget-divider--view-line_icon .elementor-divider-separator:before,.elementor-widget-divider--view-line_text .elementor-divider-separator:after,.elementor-widget-divider--view-line_text .elementor-divider-separator:before{display:block;content:"";border-bottom:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--element-align-left .elementor-divider .elementor-divider-separator>.elementor-divider__svg:first-of-type{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-ms-flex-negative:100;flex-shrink:100}.elementor-widget-divider--element-align-left .elementor-divider-separator:before{content:none}.elementor-widget-divider--element-align-left .elementor-divider__element{margin-left:0}.elementor-widget-divider--element-align-right .elementor-divider .elementor-divider-separator>.elementor-divider__svg:last-of-type{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-ms-flex-negative:100;flex-shrink:100}.elementor-widget-divider--element-align-right .elementor-divider-separator:after{content:none}.elementor-widget-divider--element-align-right .elementor-divider__element{margin-right:0}.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator{border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--separator-type-pattern{--divider-border-style:none}.elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line .elementor-divider-separator,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:after,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:before,.elementor-widget-divider--separator-type-pattern:not([class*=elementor-widget-divider--view]) .elementor-divider-separator{width:100%;min-height:var(--divider-pattern-height);-webkit-mask-size:var(--divider-pattern-size) 100%;mask-size:var(--divider-pattern-size) 100%;-webkit-mask-repeat:var(--divider-pattern-repeat);mask-repeat:var(--divider-pattern-repeat);background-color:var(--divider-color);-webkit-mask-image:var(--divider-pattern-url);mask-image:var(--divider-pattern-url)}.elementor-widget-divider--no-spacing{--divider-pattern-size:auto}.elementor-widget-divider--bg-round{--divider-pattern-repeat:round}.rtl .elementor-widget-divider .elementor-divider__text{direction:rtl}
																</style>
																<div id="DIV_281">
																		<span id="SPAN_282"></span>
																	</div>
															</div>
														</div>
													<div id="DIV_283">
																<div id="DIV_284">
																	Um desafio de 6 semanas baseado no fortalecimento e uso correto das nossas 6 habilidades mentais (imaginação, vontade, memória, percepção, intuição e razão).
																</div>
															</div>
												</div>
											</div>
											<div id="DIV_285">
														<div id="DIV_286">
															<div id="DIV_287">
																<div id="DIV_288">
																	<div id="DIV_289">
																		<figure id="FIGURE_290">
																			<img width="40" height="54" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2040%2054'%3E%3C/svg%3E" alt="" id="IMG_291" />
																			<noscript id="NOSCRIPT_292">
																				<img width="40" height="54" src="https://cimt.com.br/wp-content/uploads/2022/01/2.png" alt="" />
																			</noscript>
																		</figure>
																		<div id="DIV_293">
																			<h3 id="H3_294">
																				Modifique sua autoimagem
																			</h3>
																			<p id="P_295">
																				Mude suas crenças e sua autoimagem. Um desafio criado com objetivo de aumentar a sua clareza para tomar decisões, expandir seu merecimento e suas virtudes para criar uma vida abundante
																			</p>
																		</div>
																	</div>
																</div>
															</div>
															<div id="DIV_296">
																<div id="DIV_297">
																	<div id="DIV_298">
																		<span id="SPAN_299"></span>
																	</div>
																</div>
															</div>
															<div id="DIV_300">
																<div id="DIV_301">
																	Serão 8 semanas para consolidar a imagem mental da vida idealizada no desafio anterior e colocar em prática as ideias que apareceram, com o intuito de alcançá-la.
																</div>
															</div>
														</div>
													</div>
											<div id="DIV_302">
														<div id="DIV_303">
															<div id="DIV_304">
																<div id="DIV_305">
																	<div id="DIV_306">
																		<figure id="FIGURE_307">
																			<img width="40" height="55" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2040%2055'%3E%3C/svg%3E" alt="" id="IMG_308" />
																			<noscript id="NOSCRIPT_309">
																				<img width="40" height="55" src="https://cimt.com.br/wp-content/uploads/2022/01/3.png" alt="" />
																			</noscript>
																		</figure>
																		<div id="DIV_310">
																			<h3 id="H3_311">
																				Viva em harmonia com as leis universais
																			</h3>
																			<p id="P_312">
																				Amplie seu campo de atração e trabalhe suas emoções. Um desafio profundo para neutralizar determinados sentimentos, através de uma grande limpeza emocional, aumentando nosso campo de atração, o que possibilita acelerar a chegada dos nossos objetivos.
																			</p>
																		</div>
																	</div>
																</div>
															</div>
															<div id="DIV_313">
																<div id="DIV_314">
																	<div id="DIV_315">
																		<span id="SPAN_316"></span>
																	</div>
																</div>
															</div>
															<div id="DIV_317">
																<div id="DIV_318">
																	São 10 semanas dedicadas à compreensão mais profunda das 7 Leis Universais e suas aplicabilidades práticas para alcançar o cenário de vida desejado.
																</div>
															</div>
														</div>
													</div>
										</div>
									</section>
									<section id="SECTION_319">
												<div id="DIV_320">
													<div id="DIV_321">
														<div id="DIV_322">
															<div id="DIV_323">
																<div id="DIV_324">
																	<h2 id="H2_325">
																		Módulo com os nossos resultados
																	</h2>
																</div>
															</div>
															<div id="DIV_326">
																<div id="DIV_327">
																	Aqui, contamos como executamos os exercícios no dia-a-dia e abrimos detalhes de tudo o que aconteceu na nossa vida, expondo os resultados e as lições aprendidas no caminho. Sempre gravamos esse material após terminarmos um desafio da CIMT.
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
									<section id="SECTION_328">
												<div id="DIV_329">
													<div id="DIV_330">
														<div id="DIV_331">
															<div id="DIV_332">
																<div id="DIV_333">
																	<div id="DIV_334">
																		<figure id="FIGURE_335">
																			<img width="33" height="48" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2033%2048'%3E%3C/svg%3E" alt="" id="IMG_336" />
																			<noscript id="NOSCRIPT_337">
																				<img width="33" height="48" src="https://cimt.com.br/wp-content/uploads/2022/01/iconemicrofone.png" alt="" />
																			</noscript>
																		</figure>
																		<div id="DIV_338">
																			<p id="P_339">
																				Conteúdos em podcasts que podem ser ouvidos praticamente a qualquer hora do dia ou lugar, todos eles acompanhados de mapas mentais e transcrições para ajudar na fixação, memorização e compreensão profunda dos conteúdos.
																			</p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div id="DIV_340">
														<div id="DIV_341">
															<div id="DIV_342">
																<div id="DIV_343">
																	<div id="DIV_344">
																		 <a id="A_345"> <span id="SPAN_346"> <span id="SPAN_347">VAGAS ENCERRADAS</span></span></a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
								</div>
							</div>
						</div>
					</section>
	<section id="SECTION_348">
								<div id="DIV_349">
									<div id="DIV_350">
										<div id="DIV_351">
											<div id="DIV_352">
												<div id="DIV_353">
													<h2 id="H2_354">
														O PROJETO QUE VEIO<br id="BR_355" /> <span id="SPAN_356">PARA MUDAR O BRASIL</span>
													</h2>
												</div>
											</div>
											<div id="DIV_357">
												<div id="DIV_358">
													<p id="P_359">
														E isso não é um sonho, <b id="B_360">já é uma realidade!</b>
													</p>
												</div>
											</div>
											<div id="DIV_361">
												<div id="DIV_362">
													<p id="P_363">
														Em um ano já são mais de 5.000 alunos e centenas de transformações que recebemos diariamente.
													</p>
												</div>
											</div>
											<div id="DIV_364">
												<div id="DIV_365">
													<div id="DIV_366">
														 <a href="https://cimt.com.br/wp-content/uploads/2022/01/PDFCIMT.pdf" id="A_367"> <span id="SPAN_368"> <span id="SPAN_369">CLIQUE AQUI E VEJA OS<br id="BR_370" />100 MAIORES RESULTADOS DE 2021</span></span></a>
													</div>
												</div>
											</div>
											<section id="SECTION_371">
												<div id="DIV_372">
													<div id="DIV_373">
														<div id="DIV_374">
															<div id="DIV_375">
																<div id="DIV_376">
																	<style id="STYLE_377">/*! elementor - v3.6.3 - 12-04-2022 */
.elementor-widget-video .elementor-widget-container{overflow:hidden;-webkit-transform:translateZ(0);transform:translateZ(0)}.elementor-widget-video .elementor-open-inline .elementor-custom-embed-image-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-position:50%}.elementor-widget-video .elementor-custom-embed-image-overlay{cursor:pointer;text-align:center}.elementor-widget-video .elementor-custom-embed-image-overlay:hover .elementor-custom-embed-play i{opacity:1}.elementor-widget-video .elementor-custom-embed-image-overlay img{display:block;width:100%}.elementor-widget-video .e-hosted-video .elementor-video{-o-object-fit:cover;object-fit:cover}
																	</style>
																	<div id="DIV_378">
																		</div>
																</div>
															</div>
														</div>
													</div>
													<div id="DIV_380">
															<div id="DIV_381">
																<div id="DIV_382">
																	<div id="DIV_383">
																		<div id="DIV_384">
																		</div>
																	</div>
																</div>
															</div>
														</div>
												</div>
											</section>
											<div id="DIV_386">
													<div id="DIV_387">
														<style id="STYLE_388">/*! elementor - v3.6.3 - 12-04-2022 */
.elementor-widget-image-carousel .swiper-container{position:static}.elementor-widget-image-carousel .swiper-container .swiper-slide figure{line-height:inherit}.elementor-widget-image-carousel .swiper-slide{text-align:center}.elementor-image-carousel-wrapper:not(.swiper-container-initialized) .swiper-slide{max-width:calc(100% / var(--e-image-carousel-slides-to-show, 3))}
														</style>
														<div id="DIV_389">
																<div id="DIV_390">
																	<div id="DIV_391">
																		<figure id="FIGURE_392">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="29" id="IMG_393" />
																			<noscript id="NOSCRIPT_394">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/29.jpg" alt="29" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_395">
																		<figure id="FIGURE_396">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="32" id="IMG_397" />
																			<noscript id="NOSCRIPT_398">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/32.jpg" alt="32" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_399">
																		<figure id="FIGURE_400">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="33" id="IMG_401" />
																			<noscript id="NOSCRIPT_402">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/33.jpg" alt="33" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_403">
																		<figure id="FIGURE_404">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="1" id="IMG_405" />
																			<noscript id="NOSCRIPT_406">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/1.jpg" alt="1" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_407">
																		<figure id="FIGURE_408">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="3" id="IMG_409" />
																			<noscript id="NOSCRIPT_410">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/3.jpg" alt="3" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_411">
																		<figure id="FIGURE_412">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="4" id="IMG_413" />
																			<noscript id="NOSCRIPT_414">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/4.jpg" alt="4" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_415">
																		<figure id="FIGURE_416">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="5" id="IMG_417" />
																			<noscript id="NOSCRIPT_418">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/5.jpg" alt="5" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_419">
																		<figure id="FIGURE_420">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="6" id="IMG_421" />
																			<noscript id="NOSCRIPT_422">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/6.jpg" alt="6" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_423">
																		<figure id="FIGURE_424">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="7" id="IMG_425" />
																			<noscript id="NOSCRIPT_426">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/7.jpg" alt="7" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_427">
																		<figure id="FIGURE_428">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="8" id="IMG_429" />
																			<noscript id="NOSCRIPT_430">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/8.jpg" alt="8" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_431">
																		<figure id="FIGURE_432">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="9" id="IMG_433" />
																			<noscript id="NOSCRIPT_434">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/9.jpg" alt="9" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_435">
																		<figure id="FIGURE_436">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="10" id="IMG_437" />
																			<noscript id="NOSCRIPT_438">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/10.jpg" alt="10" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_439">
																		<figure id="FIGURE_440">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="11" id="IMG_441" />
																			<noscript id="NOSCRIPT_442">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/11.jpg" alt="11" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_443">
																		<figure id="FIGURE_444">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="12" id="IMG_445" />
																			<noscript id="NOSCRIPT_446">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/12.jpg" alt="12" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_447">
																		<figure id="FIGURE_448">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="13" id="IMG_449" />
																			<noscript id="NOSCRIPT_450">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/13.jpg" alt="13" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_451">
																		<figure id="FIGURE_452">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="14" id="IMG_453" />
																			<noscript id="NOSCRIPT_454">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/14.jpg" alt="14" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_455">
																		<figure id="FIGURE_456">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="15" id="IMG_457" />
																			<noscript id="NOSCRIPT_458">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/15.jpg" alt="15" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_459">
																		<figure id="FIGURE_460">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="16" id="IMG_461" />
																			<noscript id="NOSCRIPT_462">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/16.jpg" alt="16" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_463">
																		<figure id="FIGURE_464">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="17" id="IMG_465" />
																			<noscript id="NOSCRIPT_466">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/17.jpg" alt="17" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_467">
																		<figure id="FIGURE_468">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="18" id="IMG_469" />
																			<noscript id="NOSCRIPT_470">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/18.jpg" alt="18" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_471">
																		<figure id="FIGURE_472">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="20" id="IMG_473" />
																			<noscript id="NOSCRIPT_474">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/20.jpg" alt="20" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_475">
																		<figure id="FIGURE_476">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="22" id="IMG_477" />
																			<noscript id="NOSCRIPT_478">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/22.jpg" alt="22" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_479">
																		<figure id="FIGURE_480">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="24" id="IMG_481" />
																			<noscript id="NOSCRIPT_482">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/24.jpg" alt="24" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_483">
																		<figure id="FIGURE_484">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="25" id="IMG_485" />
																			<noscript id="NOSCRIPT_486">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/25.jpg" alt="25" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_487">
																		<figure id="FIGURE_488">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="29" id="IMG_489" />
																			<noscript id="NOSCRIPT_490">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/29.jpg" alt="29" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_491">
																		<figure id="FIGURE_492">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="32" id="IMG_493" />
																			<noscript id="NOSCRIPT_494">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/32.jpg" alt="32" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_495">
																		<figure id="FIGURE_496">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="33" id="IMG_497" />
																			<noscript id="NOSCRIPT_498">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/33.jpg" alt="33" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_499">
																		<figure id="FIGURE_500">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="1" id="IMG_501" />
																			<noscript id="NOSCRIPT_502">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/1.jpg" alt="1" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_503">
																		<figure id="FIGURE_504">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="3" id="IMG_505" />
																			<noscript id="NOSCRIPT_506">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/3.jpg" alt="3" />
																			</noscript>
																		</figure>
																	</div>
																	<div id="DIV_507">
																		<figure id="FIGURE_508">
																			<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="4" id="IMG_509" />
																			<noscript id="NOSCRIPT_510">
																				<img src="https://cimt.com.br/wp-content/uploads/2022/01/4.jpg" alt="4" />
																			</noscript>
																		</figure>
																	</div>
																</div>
																<div id="DIV_511">
																	<span id="SPAN_512"></span><span id="SPAN_513"></span><span id="SPAN_514"></span><span id="SPAN_515"></span><span id="SPAN_516"></span><span id="SPAN_517"></span><span id="SPAN_518"></span><span id="SPAN_519"></span><span id="SPAN_520"></span><span id="SPAN_521"></span><span id="SPAN_522"></span><span id="SPAN_523"></span><span id="SPAN_524"></span><span id="SPAN_525"></span><span id="SPAN_526"></span><span id="SPAN_527"></span><span id="SPAN_528"></span><span id="SPAN_529"></span><span id="SPAN_530"></span><span id="SPAN_531"></span><span id="SPAN_532"></span><span id="SPAN_533"></span><span id="SPAN_534"></span><span id="SPAN_535"></span>
																</div>
																<div id="DIV_536">
																	<i id="I_537"></i> <span id="SPAN_538">Anterior</span>
																</div>
																<div id="DIV_539">
																	<i id="I_540"></i> <span id="SPAN_541">Próximo</span>
																</div><span id="SPAN_542"></span>
															</div>
													</div>
												</div>
											<div id="DIV_543">
														<div id="DIV_544">
															<img width="48" height="49" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2048%2049'%3E%3C/svg%3E" alt="" id="IMG_545" />
															<noscript id="NOSCRIPT_546">
																<img width="48" height="49" src="https://cimt.com.br/wp-content/uploads/2022/01/seta.png" alt="" />
															</noscript>
														</div>
													</div>
											<div id="DIV_547">
														<div id="DIV_548">
															<h2 id="H2_549">
																O QUE VOCÊ ENCONTRA<br id="BR_550" /> <span id="SPAN_551">DENTRO DA CIMT</span>
															</h2>
														</div>
													</div>
										</div>
									</div>
								</div>
							</section>
	<section id="SECTION_552">
										<div id="DIV_553">
											<div id="DIV_554">
												<div id="DIV_555">
													<div id="DIV_556">
														<div id="DIV_557">
															<img width="236" height="76" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20236%2076'%3E%3C/svg%3E" alt="" id="IMG_558" />
															<noscript id="NOSCRIPT_559">
																<img width="236" height="76" src="https://cimt.com.br/wp-content/uploads/2022/01/Group-94-1.png" alt="" />
															</noscript>
														</div>
													</div>
													<div id="DIV_560">
														<div id="DIV_561">
															<h2 id="H2_562">
																+ DE 120<br id="BR_563" />HORAS
															</h2>
														</div>
													</div>
													<div id="DIV_564">
														<div id="DIV_565">
															de conteúdo em podcasts e vídeos para potencializar seus resultados
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_566">
												<div id="DIV_567">
													<div id="DIV_568">
														<div id="DIV_569">
															<img width="185" height="79" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20185%2079'%3E%3C/svg%3E" alt="" id="IMG_570" />
															<noscript id="NOSCRIPT_571">
																<img width="185" height="79" src="https://cimt.com.br/wp-content/uploads/2022/03/IMERSOES-CIMT4.png" alt="" />
															</noscript>
														</div>
													</div>
													<div id="DIV_572">
														<div id="DIV_573">
															<h2 id="H2_574">
																IMERSÕES CIMT
															</h2>
														</div>
													</div>
													<div id="DIV_575">
														<div id="DIV_576">
															Eventos ao vivo de 16h para que você acelere os seus resultados (a gravação do último evento ficará disponível até que a proxima edição aconteça)
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_577">
												<div id="DIV_578">
													<div id="DIV_579">
														<div id="DIV_580">
															<h2 id="H2_581">
																4 LIVROS
															</h2>
														</div>
													</div>
													<div id="DIV_582">
														<div id="DIV_583">
															<img width="237" height="102" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20237%20102'%3E%3C/svg%3E" alt="" id="IMG_584" />
															<noscript id="NOSCRIPT_585">
																<img width="237" height="102" src="https://cimt.com.br/wp-content/uploads/2022/01/Group-96-1.png" alt="" />
															</noscript>
														</div>
													</div>
													<div id="DIV_586">
														<div id="DIV_587">
															Todos os capítulos lidos e interpretados em mais de 54h de podcasts
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
	<section id="SECTION_588">
										<div id="DIV_589">
											<div id="DIV_590">
												<div id="DIV_591">
													<div id="DIV_592">
														<div id="DIV_593">
															<img width="266" height="42" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20266%2042'%3E%3C/svg%3E" alt="" id="IMG_594" />
															<noscript id="NOSCRIPT_595">
																<img width="266" height="42" src="https://cimt.com.br/wp-content/uploads/2022/03/22-EXERCICIOS3.png" alt="" />
															</noscript>
														</div>
													</div>
													<div id="DIV_596">
														<div id="DIV_597">
															<h2 id="H2_598">
																22 EXERCÍCIOS
															</h2>
														</div>
													</div>
													<div id="DIV_599">
														<div id="DIV_600">
															Práticos dos 3 desafios com mais de 13h de conteúdos em vídeos
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_601">
												<div id="DIV_602">
													<div id="DIV_603">
														<div id="DIV_604">
															<h2 id="H2_605">
																22 PASSOS
															</h2>
														</div>
													</div>
													<div id="DIV_606">
														<div id="DIV_607">
															<img width="237" height="88" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20237%2088'%3E%3C/svg%3E" alt="" id="IMG_608" />
															<noscript id="NOSCRIPT_609">
																<img width="237" height="88" src="https://cimt.com.br/wp-content/uploads/2022/01/Group-98-1.png" alt="" />
															</noscript>
														</div>
													</div>
													<div id="DIV_610">
														<div id="DIV_611">
															Modelos prático com + de 14h de podcasts, mapas mentais e transcrições
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_612">
												<div id="DIV_613">
													<div id="DIV_614">
														<div id="DIV_615">
															<img width="237" height="91" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20237%2091'%3E%3C/svg%3E" alt="" id="IMG_616" />
															<noscript id="NOSCRIPT_617">
																<img width="237" height="91" src="https://cimt.com.br/wp-content/uploads/2022/01/Group-97-1.png" alt="" />
															</noscript>
														</div>
													</div>
													<div id="DIV_618">
														<div id="DIV_619">
															<h2 id="H2_620">
																PODCASTS
															</h2>
														</div>
													</div>
													<div id="DIV_621">
														<div id="DIV_622">
															Conteúdos em áudio para você adicionar na rotina e escutar a qualquer momento do dia
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
	<section id="SECTION_623">
										<div id="DIV_624">
											<div id="DIV_625">
												<div id="DIV_626">
													<div id="DIV_627">
														<div id="DIV_628">
															<h2 id="H2_629">
																VOCÊ ACHA <span id="SPAN_630">QUE ACABOU?</span>
															</h2>
														</div>
													</div>
													<div id="DIV_631">
														<div id="DIV_632">
															Claro que não! Confira os bônus exclusivos para quem fechar a CIMT hoje.
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
	<section id="SECTION_633">
										<div id="DIV_634">
											<div id="DIV_635">
												<div id="DIV_636">
													<div id="DIV_637">
														<div id="DIV_638">
															<div id="DIV_639">
																<figure id="FIGURE_640">
																	<img width="27" height="53" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2027%2053'%3E%3C/svg%3E" alt="" id="IMG_641" />
																	<noscript id="NOSCRIPT_642">
																		<img width="27" height="53" src="https://cimt.com.br/wp-content/uploads/2022/01/1.png" alt="" />
																	</noscript>
																</figure>
																<div id="DIV_643">
																	<h3 id="H3_644">
																		Bônus 1 | Somente hoje!!!!
																	</h3>
																	<p id="P_645">
																		Você poderá participar de todas as imersões que forem realizadas dentro dos seus 2 anos de acesso.
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_646">
												<div id="DIV_647">
													<div id="DIV_648">
														<div id="DIV_649">
															<div id="DIV_650">
																<figure id="FIGURE_651">
																	<img width="40" height="54" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2040%2054'%3E%3C/svg%3E" alt="" id="IMG_652" />
																	<noscript id="NOSCRIPT_653">
																		<img width="40" height="54" src="https://cimt.com.br/wp-content/uploads/2022/01/2.png" alt="" />
																	</noscript>
																</figure>
																<div id="DIV_654">
																	<h3 id="H3_655">
																		Bônus 2
																	</h3>
																	<p id="P_656">
																		CIMT English - um módulo que está sendo construído para que você tenha acesso ao material do modelo prático em ingles, assim você pode criar uma convergência entre o que está ouvindo e o aprendizado da língua.
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
	<section id="SECTION_657">
										<div id="DIV_658">
											<div id="DIV_659">
												<div id="DIV_660">
													<div id="DIV_661">
														<div id="DIV_662">
															<h2 id="H2_663">
																UMA NOVA ÁREA DE MEMBROS <span id="SPAN_664">MUITO MAIS COMPLETA</span>
															</h2>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
	<section id="SECTION_665">
										<div id="DIV_666">
											<div id="DIV_667">
												<div id="DIV_668">
													<div id="DIV_669">
														<div id="DIV_670">
															<img width="800" height="533" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20800%20533'%3E%3C/svg%3E" alt="" id="IMG_671" />
															<noscript id="NOSCRIPT_672">
																<img width="800" height="533" src="https://cimt.com.br/wp-content/uploads/2022/03/perspectiva2.png" alt="" />
															</noscript>
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_673">
												<div id="DIV_674">
													<div id="DIV_675">
														<div id="DIV_676">
															<h2 id="H2_677">
																Vocês pediram e a gente atendeu!
															</h2>
														</div>
													</div>
													<div id="DIV_678">
														<div id="DIV_679">
															A nova área de membros foi totalmente repaginada para que possamos atendê-los com mais organização, agilidade e simplicidade. É muito mais do que uma mudança no visual, é definitivamente uma experiência completa, eficaz e segura.
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
	<section id="SECTION_680">
										<div id="DIV_681">
											<div id="DIV_682">
												<div id="DIV_683">
													<div id="DIV_684">
														<div id="DIV_685">
															As vagas encerram em breve
														</div>
													</div>
													<div id="DIV_686">
														<div id="DIV_687">
															<h2 id="H2_688">
																APENAS HOJE VOCÊ LEVA 2 ANOS DE ACESSO POR:
															</h2>
														</div>
													</div>
													<div id="DIV_689">
														<div id="DIV_690">
															<div id="DIV_691">
																<div id="DIV_692">
																	<span id="SPAN_693">00</span> <span id="SPAN_694">horas</span>
																</div>
																<div id="DIV_695">
																	<span id="SPAN_696">00</span> <span id="SPAN_697">minutos</span>
																</div>
																<div id="DIV_698">
																	<span id="SPAN_699">00</span> <span id="SPAN_700">segundos</span>
																</div>
															</div>
														</div>
													</div>
													<section id="SECTION_701">
														<div id="DIV_702">
															<div id="DIV_703">
																<div id="DIV_704">
																	<div id="DIV_705">
																		<div id="DIV_706">
																			<h2 id="H2_707">
																				12X DE <span id="SPAN_708">R$400</span>
																			</h2>
																		</div>
																	</div>
																	<div id="DIV_709">
																		<div id="DIV_710">
																			<p id="P_711">
																				ou R$4.000 à vista no cartão de crédito
																			</p>
																		</div>
																	</div>
																	<div id="DIV_712">
																		<div id="DIV_713">
																			<p id="P_714">
																				E o melhor: você não precisa ter o limite do valor total disponível! Com o <strong id="STRONG_715">parcelamento inteligente</strong>, tudo o que você precisa ter liberado é o valor da parcela mensalmente!
																			</p>
																		</div>
																	</div>
																	<div id="DIV_716">
																		<div id="DIV_717">
																			<h2 id="H2_718">
																				OU
																			</h2>
																		</div>
																	</div>
																	<div id="DIV_719">
																		<div id="DIV_720">
																			<h2 id="H2_721">
																				EM ATÉ 36X DE <span id="SPAN_722">R$166,07</span>
																			</h2>
																		</div>
																	</div>
																	<div id="DIV_723">
																		<div id="DIV_724">
																			<p id="P_725">
																				(entrada de R$280) no boleto, primeira parcela em 10/05
																			</p>
																		</div>
																	</div>
																	<div id="DIV_726">
																		<div id="DIV_727">
																			<div id="DIV_728">
																				 <a id="A_729"> <span id="SPAN_730"> <span id="SPAN_731">VAGAS ENCERRADAS</span></span></a>
																			</div>
																		</div>
																	</div>
																	<div id="DIV_732">
																		<div id="DIV_733">
																			<img width="275" height="20" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20275%2020'%3E%3C/svg%3E" alt="" id="IMG_734" />
																			<noscript id="NOSCRIPT_735">
																				<img width="275" height="20" src="https://cimt.com.br/wp-content/uploads/2022/01/selos.png" alt="" />
																			</noscript>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
												</div>
											</div>
										</div>
									</section>
	<section id="SECTION_736">
										<div id="DIV_737">
											<div id="DIV_738">
												<div id="DIV_739">
													<section id="SECTION_740">
														<div id="DIV_741">
															<div id="DIV_742">
																<div id="DIV_743">
																	<div id="DIV_744">
																		<div id="DIV_745">
																			<img width="164" height="163" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20164%20163'%3E%3C/svg%3E" alt="" id="IMG_746" />
																			<noscript id="NOSCRIPT_747">
																				<img width="164" height="163" src="https://cimt.com.br/wp-content/uploads/2022/01/SELO.png" alt="" />
																			</noscript>
																		</div>
																	</div>
																</div>
															</div>
															<div id="DIV_748">
																<div id="DIV_749">
																	<div id="DIV_750">
																		<div id="DIV_751">
																			<h2 id="H2_752">
																				RISCO ZERO: <span id="SPAN_753">GARANTIA INCONDICIONAL</span>
																			</h2>
																		</div>
																	</div>
																	<div id="DIV_754">
																		<div id="DIV_755">
																			Ou você ama a CIMT, ou devolvemos seu dinheiro!
																		</div>
																	</div>
																	<div id="DIV_756">
																		<div id="DIV_757">
																			Você tem 7 dias para testar o produto e tirar as suas próprias conclusões.
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
												</div>
											</div>
										</div>
									</section>
	<section id="SECTION_758">
										<div id="DIV_759">
											<div id="DIV_760">
												<div id="DIV_761">
													<div id="DIV_762">
														<div id="DIV_763">
															<img width="600" height="600" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20600%20600'%3E%3C/svg%3E" alt="" id="IMG_764" />
															<noscript id="NOSCRIPT_765">
																<img width="600" height="600" src="https://cimt.com.br/wp-content/uploads/2022/01/mandi2.jpg" alt="" />
															</noscript>
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_766">
												<div id="DIV_767">
													<div id="DIV_768">
														<div id="DIV_769">
															Quem é a <span id="SPAN_770">Mandi Tomaz?</span>
														</div>
													</div>
													<div id="DIV_771">
														<div id="DIV_772">
															<p id="P_773">
																Enfermeira formada na Universidade Federal Fluminense. Possui 10 anos de experiência na área de saúde.
															</p>
														</div>
													</div>
													<div id="DIV_774">
														<div id="DIV_775">
															Cursou Nutrição por 3 anos e se posicionou nas redes sociais trazendo assuntos importantes como prevenção de doenças e promoção da saúde física e mental.
														</div>
													</div>
													<div id="DIV_776">
														<div id="DIV_777">
															Mudou sua comunicação no final de 2020, apesar de estar sendo muito bem remunerada e reconhecida a partir do trabalho que desenvolvia, para trazer um recado muito importante, que teve contato quando se dedicou ao seu desenvolvimento mental e espiritual.
														</div>
													</div>
													<div id="DIV_778">
														<div id="DIV_779">
															<p id="P_780">
																Em dezembro de 2020, fundou a CIMT com seu marido, Cadu Tinoco, que, em menos de um ano, conta com mais de 5.000 integrantes.
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
	<section id="SECTION_781">
										<div id="DIV_782">
											<div id="DIV_783">
												<div id="DIV_784">
													<div id="DIV_785">
														<div id="DIV_786">
															Quem é o <span id="SPAN_787">Cadu Tinoco?</span>
														</div>
													</div>
													<div id="DIV_788">
														<div id="DIV_789">
															Trabalhou por 14 anos na Petrobras, dedicando 8 anos da sua carreira em megaprojetos de exploração e produção de petróleo, com investimentos da ordem de 10 bilhões de dólares.
														</div>
													</div>
													<div id="DIV_790">
														<div id="DIV_791">
															Além disso, passou outros 6 anos se dedicando ao transporte aéreo offshore, onde assumiu importantes funções gerenciais, chegando a liderar uma equipe de 420 pessoas, incluindo as maiores empresas de helicóptero do país.
														</div>
													</div>
													<div id="DIV_792">
														<div id="DIV_793">
															Pediu demissão da Petrobras em 29 de janeiro de 2021, quando se juntou à sua esposa, Mandi Tomaz, para dedicar a vida à construção e disseminação da CIMT.
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_794">
												<div id="DIV_795">
													<div id="DIV_796">
														<div id="DIV_797">
															<img width="600" height="600" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20600%20600'%3E%3C/svg%3E" alt="" id="IMG_798" />
															<noscript id="NOSCRIPT_799">
																<img width="600" height="600" src="https://cimt.com.br/wp-content/uploads/2022/01/CADU.jpg" alt="" />
															</noscript>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
	<section id="SECTION_800">
										<div id="DIV_801">
											<div id="DIV_802">
												<div id="DIV_803">
													<div id="DIV_804">
														<div id="DIV_805">
															<h2 id="H2_806">
																PERGUNTAS <span id="SPAN_807">FREQUENTES</span>
															</h2>
														</div>
													</div>
													<div id="DIV_808">
														<div id="DIV_809">
															<style id="STYLE_810">/*! elementor - v3.6.3 - 12-04-2022 */
.elementor-toggle{text-align:left}.elementor-toggle .elementor-tab-title{font-weight:700;line-height:1;margin:0;padding:15px;border-bottom:1px solid #d4d4d4;cursor:pointer;outline:none}.elementor-toggle .elementor-tab-title .elementor-toggle-icon{display:inline-block;width:1em}.elementor-toggle .elementor-tab-title .elementor-toggle-icon svg{-webkit-margin-start:-5px;margin-inline-start:-5px;width:1em;height:1em}.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-right{float:right;text-align:right}.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left{float:left;text-align:left}.elementor-toggle .elementor-tab-title .elementor-toggle-icon .elementor-toggle-icon-closed{display:block}.elementor-toggle .elementor-tab-title .elementor-toggle-icon .elementor-toggle-icon-opened{display:none}.elementor-toggle .elementor-tab-title.elementor-active{border-bottom:none}.elementor-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon-closed{display:none}.elementor-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon-opened{display:block}.elementor-toggle .elementor-tab-content{padding:15px;border-bottom:1px solid #d4d4d4;display:none}@media (max-width:767px){.elementor-toggle .elementor-tab-title{padding:12px}.elementor-toggle .elementor-tab-content{padding:12px 10px}}
															</style>
															<div id="DIV_811">
																	<div id="DIV_812">
																		<div id="DIV_813">
																			 <span id="SPAN_814"> <span id="SPAN_815"><i id="I_816"></i></span> <span id="SPAN_817"><i id="I_818"></i></span></span> <a href="https://cimt.com.br/" id="A_819">Quanto tempo preciso dedicar por dia para completar o programa em 6 meses?</a>
																		</div>
																		<div id="DIV_820">
																			Aconselhamos que você dedique uma hora do seu dia para o estudo da CIMT. Lembrando que a maior parte do conteúdo está disponibilizada em formato de PODCAST e você pode ouvir realizando outras tarefas, se necessário.
																		</div>
																	</div>
																	<div id="DIV_821">
																		<div id="DIV_822">
																			 <span id="SPAN_823"> <span id="SPAN_824"><i id="I_825"></i></span> <span id="SPAN_826"><i id="I_827"></i></span></span> <a href="https://cimt.com.br/" id="A_828">Não tenho meus objetivos claros ainda, CIMT é para mim?</a>
																		</div>
																		<div id="DIV_829">
																			Com certeza. Nosso intuito é auxiliar e confirmar a definição dos seus objetivos. Você terá ferramentas suficientes para encontrá-los.
																		</div>
																	</div>
																	<div id="DIV_830">
																		<div id="DIV_831">
																			 <span id="SPAN_832"> <span id="SPAN_833"><i id="I_834"></i></span> <span id="SPAN_835"><i id="I_836"></i></span></span> <a href="https://cimt.com.br/" id="A_837">Por onde terei contato com a Mandi e o Cadu?</a>
																		</div>
																		<div id="DIV_838">
																			O acesso a Mandi e ao Cadu acontecerá através do contato eventual nas imersões realizadas no zoom.<br id="BR_839" /> Passamos um longo tempo mapeando toda e qualquer dúvida que possa surgir, então garantimos que, com o estudo do material, você encontrará as respostas que precisa.
																		</div>
																	</div>
																	<div id="DIV_840">
																		<div id="DIV_841">
																			 <span id="SPAN_842"> <span id="SPAN_843"><i id="I_844"></i></span> <span id="SPAN_845"><i id="I_846"></i></span></span> <a href="https://cimt.com.br/" id="A_847">Tenho alguma garantia?</a>
																		</div>
																		<div id="DIV_848">
																			Você tem 7 dias para testar a CIMT sem riscos. Se por qualquer razão achar que o investimento não valeu a pena, é só solicitar o reembolso na plataforma e você receberá de volta 100% do valor pago sem a menor burocracia.
																		</div>
																	</div>
																	<div id="DIV_849">
																		<div id="DIV_850">
																			 <span id="SPAN_851"> <span id="SPAN_852"><i id="I_853"></i></span> <span id="SPAN_854"><i id="I_855"></i></span></span> <a href="https://cimt.com.br/" id="A_856">Pra quem é a CIMT?</a>
																		</div>
																		<div id="DIV_857">
																			Para todas as pessoas que desejam modificar seus resultados através da transformação da mente.<br id="BR_858" /> É importante dizer que não exigimos idade mínima para ingressar no treinamento.
																		</div>
																	</div>
																	<div id="DIV_859">
																		<div id="DIV_860">
																			 <span id="SPAN_861"> <span id="SPAN_862"><i id="I_863"></i></span> <span id="SPAN_864"><i id="I_865"></i></span></span> <a href="https://cimt.com.br/" id="A_866">Eu posso dividir o treinamento com alguém?</a>
																		</div>
																		<div id="DIV_867">
																			Não. A CIMT só garante um acesso por compra.<br id="BR_868" /> Mas você certamente poderá chamar pessoas da sua casa para estarem com você, como por exemplo irmã, marido, esposa, pai e mãe.
																		</div>
																	</div>
																	<div id="DIV_869">
																		<div id="DIV_870">
																			 <span id="SPAN_871"> <span id="SPAN_872"><i id="I_873"></i></span> <span id="SPAN_874"><i id="I_875"></i></span></span> <a href="https://cimt.com.br/" id="A_876">Tem algum bônus especial para quem comprar hoje?</a>
																		</div>
																		<div id="DIV_877">
																			Sim. Você ganha acesso a CIMT por 2 anos, com direito de participar das imersões que forem realizadas no período
																		</div>
																	</div>
																	<div id="DIV_878">
																		<div id="DIV_879">
																			 <span id="SPAN_880"> <span id="SPAN_881"><i id="I_882"></i></span> <span id="SPAN_883"><i id="I_884"></i></span></span> <a href="https://cimt.com.br/" id="A_885">Eu não tenho limite no cartão de crédito, e agora?</a>
																		</div>
																		<div id="DIV_886">
																			<p id="P_887">
																				Você pode utilizar o parcelamento inteligente no cartão. Só precisa ter liberado o limite do valor da parcela. Por exemplo, se o valor do produto são 12 x 400,00 e você não possui esse valor total disponível (4800,00) de limite no cartão, a operadora faz o desconto somente do valor de 400,00 mensalmente do seu limite.<br id="BR_888" />Você precisa ter PELO MENOS esse valor livre todos os meses para garantir o pagamento automático.<br id="BR_889" />*É importante dizer que não somos nós que optamos por liberar ou não isso. É a sua necessidade. Se houver o valor total disponível no cartão, a operadora usará o limite.
																			</p>
																		</div>
																	</div>
																	<div id="DIV_890">
																		<div id="DIV_891">
																			 <span id="SPAN_892"> <span id="SPAN_893"><i id="I_894"></i></span> <span id="SPAN_895"><i id="I_896"></i></span></span> <a href="https://cimt.com.br/" id="A_897">Posso parcelar no boleto?</a>
																		</div>
																		<div id="DIV_898">
																			Sim. Você tem diversas opções de pagamento, em até 36x no boleto, através da nossa parceira PROVI
																		</div>
																	</div>
																	<div id="DIV_899">
																		<div id="DIV_900">
																			 <span id="SPAN_901"> <span id="SPAN_902"><i id="I_903"></i></span> <span id="SPAN_904"><i id="I_905"></i></span></span> <a href="https://cimt.com.br/" id="A_906">Quanto tempo dura o programa CIMT? E o meu acesso?</a>
																		</div>
																		<div id="DIV_907">
																			O programa tem duração de 1 ano, mas adquirindo hoje você terá acesso por 2 anos. Dessa forma, o valor investido cai pela metade (2.000/ano). Somente hoje.
																		</div>
																	</div>
																	<div id="DIV_908">
																		<div id="DIV_909">
																			 <span id="SPAN_910"> <span id="SPAN_911"><i id="I_912"></i></span> <span id="SPAN_913"><i id="I_914"></i></span></span> <a href="https://cimt.com.br/" id="A_915">Mandi e Cadu, vocês garantem meus resultados?</a>
																		</div>
																		<div id="DIV_916">
																			Não. O sucesso das transformações depende do cumprimento fiel ao conteúdo que preparamos e usamos nas nossas próprias vidas.<br id="BR_917" /> Dependerá de sua dedicação, esforço, repetição e persistência. Muitas pessoas já alcançaram seus objetivos, conforme mostrado nas seções de depoimentos.
																		</div>
																	</div>
																	<div id="DIV_918">
																		<div id="DIV_919">
																			 <span id="SPAN_920"> <span id="SPAN_921"><i id="I_922"></i></span> <span id="SPAN_923"><i id="I_924"></i></span></span> <a href="https://cimt.com.br/" id="A_925">O acesso ao produto é imediato?</a>
																		</div>
																		<div id="DIV_926">
																			Se você adquirir a CIMT por cartão de crédito, sim. A eduzz enviará um email imediatamente. Caso você faça seu pagamento no boleto, tem até 3 dias úteis para a chegada do link de acesso no email.
																		</div>
																	</div>
																	<div id="DIV_927">
																		<div id="DIV_928">
																			 <span id="SPAN_929"> <span id="SPAN_930"><i id="I_931"></i></span> <span id="SPAN_932"><i id="I_933"></i></span></span> <a href="https://cimt.com.br/" id="A_934">Posso pagar em dois cartões?</a>
																		</div>
																		<div id="DIV_935">
																			Sim, temos a opção de múltiplos cartões e você paga o quanto quiser em cada cartão.
																		</div>
																	</div>
																	<div id="DIV_936">
																		<div id="DIV_937">
																			 <span id="SPAN_938"> <span id="SPAN_939"><i id="I_940"></i></span> <span id="SPAN_941"><i id="I_942"></i></span></span> <a href="https://cimt.com.br/" id="A_943">O programa CIMT conflita com a minha religião?</a>
																		</div>
																		<div id="DIV_944">
																			O Programa não conflita com nenhuma religião, pelo contrário, possibilita uma melhor compreensão delas e uma forte aproximação de Deus.<br id="BR_945" /> A CIMT é baseada em conceitos milenares e pesquisas recentes.
																		</div>
																	</div>
																	<div id="DIV_946">
																		<div id="DIV_947">
																			 <span id="SPAN_948"> <span id="SPAN_949"><i id="I_950"></i></span> <span id="SPAN_951"><i id="I_952"></i></span></span> <a href="https://cimt.com.br/" id="A_953">Como o conteúdo da CIMT é disponibilizado?</a>
																		</div>
																		<div id="DIV_954">
																			<p id="P_955">
																				Grande parte do conteúdo é disponibilizado através dos PODCASTS. Isso facilita a adesão dos integrantes e, consequentemente, sua transformação.<br id="BR_956" />Além disso, acesso aos vídeos com exercícios e mapas mentais extremamente elaborados.
																			</p>
																		</div>
																	</div>
																	<div id="DIV_957">
																		<div id="DIV_958">
																			 <span id="SPAN_959"> <span id="SPAN_960"><i id="I_961"></i></span> <span id="SPAN_962"><i id="I_963"></i></span></span> <a href="https://cimt.com.br/" id="A_964">CIMT me ajuda a ganhar dinheiro, melhorar meus relacionamentos, encontrar paz mental e viver uma vida saudável? Não é bom demais para ser verdade?</a>
																		</div>
																		<div id="DIV_965">
																			Nós abordamos todas as áreas da vida porque os princípios e as virtudes para alcançar objetivos são os mesmos. Você precisa se tornar a pessoa que alcança todas essas coisas, então a concretização dos seus objetivos passará, necessariamente, pelo desenvolvimento mental e espiritual. A CIMT conta com dois mentores que conseguiram realizar isso em suas vidas e nas de milhares de pessoas.
																		</div>
																	</div>
																	<div id="DIV_966">
																		<div id="DIV_967">
																			 <span id="SPAN_968"> <span id="SPAN_969"><i id="I_970"></i></span> <span id="SPAN_971"><i id="I_972"></i></span></span> <a href="https://cimt.com.br/" id="A_973">Como o conteúdo da CIMT será disponibilizado?</a>
																		</div>
																		<div id="DIV_974">
																			<p id="P_975">
																				O conteúdo do modelo prático e dos livros comentados estão no formato de podcast (totalizando quase cem podcasts na plataforma) e mapas mentais, com o intuito de facilitar a adesão e o aprendizado.<br id="BR_976" />Os exercícios estão em formato de vídeos explicativos e as imersões no zoom, quando realizadas, nos permitem ter contato direto e sanar quaisquer dúvidas que possam surgir.
																			</p>
																		</div>
																	</div>
																</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
</div>
<script type="text/javascript" id="SCRIPT_977">"use strict";var _createClass=function(){function defineProperties(target,props){for(var i=0;i<props.length;i++){var descriptor=props[i];descriptor.enumerable=descriptor.enumerable||!1,descriptor.configurable=!0,"value"in descriptor&&(descriptor.writable=!0),Object.defineProperty(target,descriptor.key,descriptor)}}return function(Constructor,protoProps,staticProps){return protoProps&&defineProperties(Constructor.prototype,protoProps),staticProps&&defineProperties(Constructor,staticProps),Constructor}}();function _classCallCheck(instance,Constructor){if(!(instance instanceof Constructor))throw new TypeError("Cannot call a class as a function")}var RocketBrowserCompatibilityChecker=function(){function RocketBrowserCompatibilityChecker(options){_classCallCheck(this,RocketBrowserCompatibilityChecker),this.passiveSupported=!1,this._checkPassiveOption(this),this.options=!!this.passiveSupported&&options}return _createClass(RocketBrowserCompatibilityChecker,[{key:"_checkPassiveOption",value:function(self){try{var options={get passive(){return!(self.passiveSupported=!0)}};window.addEventListener("test",null,options),window.removeEventListener("test",null,options)}catch(err){self.passiveSupported=!1}}},{key:"initRequestIdleCallback",value:function(){!1 in window&&(window.requestIdleCallback=function(cb){var start=Date.now();return setTimeout(function(){cb({didTimeout:!1,timeRemaining:function(){return Math.max(0,50-(Date.now()-start))}})},1)}),!1 in window&&(window.cancelIdleCallback=function(id){return clearTimeout(id)})}},{key:"isDataSaverModeOn",value:function(){return"connection"in navigator&&!0===navigator.connection.saveData}},{key:"supportsLinkPrefetch",value:function(){var elem=document.createElement("link");return elem.relList&&elem.relList.supports&&elem.relList.supports("prefetch")&&window.IntersectionObserver&&"isIntersecting"in IntersectionObserverEntry.prototype}},{key:"isSlowConnection",value:function(){return"connection"in navigator&&"effectiveType"in navigator.connection&&("2g"===navigator.connection.effectiveType||"slow-2g"===navigator.connection.effectiveType)}}]),RocketBrowserCompatibilityChecker}();
</script>
									</script> /* <![CDATA[ */ var RocketPreloadLinksConfig = {"excludeUris":"\/(?:.+\/)?feed(?:\/(?:.+\/?)?)?$|\/(?:.+\/)?embed\/|\/(index\\.php\/)?wp\\-json(\/.*|$)|\/wp-admin\/|\/logout\/|\/wp-login.php|\/refer\/|\/go\/|\/recommend\/|\/recommends\/","usesTrailingSlash":"1","imageExt":"jpg|jpeg|gif|png|tiff|bmp|webp|avif","fileExt":"jpg|jpeg|gif|png|tiff|bmp|webp|avif|php|pdf|html|htm","siteUrl":"https:\/\/cimt.com.br","onHoverDelay":"100","rateThrottle":"3"}; /* ]]> */
<script type="text/javascript" id="SCRIPT_979">(function() {
"use strict";var r="function"==typeof Symbol&&"symbol"==typeof Symbol.iterator?function(e){return typeof e}:function(e){return e&&"function"==typeof Symbol&&e.constructor===Symbol&&e!==Symbol.prototype?"symbol":typeof e},e=function(){function i(e,t){for(var n=0;n<t.length;n++){var i=t[n];i.enumerable=i.enumerable||!1,i.configurable=!0,"value"in i&&(i.writable=!0),Object.defineProperty(e,i.key,i)}}return function(e,t,n){return t&&i(e.prototype,t),n&&i(e,n),e}}();function i(e,t){if(!(e instanceof t))throw new TypeError("Cannot call a class as a function")}var t=function(){function n(e,t){i(this,n),this.browser=e,this.config=t,this.options=this.browser.options,this.prefetched=new Set,this.eventTime=null,this.threshold=1111,this.numOnHover=0}return e(n,[{key:"init",value:function(){!this.browser.supportsLinkPrefetch()||this.browser.isDataSaverModeOn()||this.browser.isSlowConnection()||(this.regex={excludeUris:RegExp(this.config.excludeUris,"i"),images:RegExp(".("+this.config.imageExt+")$","i"),fileExt:RegExp(".("+this.config.fileExt+")$","i")},this._initListeners(this))}},{key:"_initListeners",value:function(e){-1<this.config.onHoverDelay&&document.addEventListener("mouseover",e.listener.bind(e),e.listenerOptions),document.addEventListener("mousedown",e.listener.bind(e),e.listenerOptions),document.addEventListener("touchstart",e.listener.bind(e),e.listenerOptions)}},{key:"listener",value:function(e){var t=e.target.closest("a"),n=this._prepareUrl(t);if(null!==n)switch(e.type){case"mousedown":case"touchstart":this._addPrefetchLink(n);break;case"mouseover":this._earlyPrefetch(t,n,"mouseout")}}},{key:"_earlyPrefetch",value:function(t,e,n){var i=this,r=setTimeout(function(){if(r=null,0===i.numOnHover)setTimeout(function(){return i.numOnHover=0},1e3);else if(i.numOnHover>i.config.rateThrottle)return;i.numOnHover++,i._addPrefetchLink(e)},this.config.onHoverDelay);t.addEventListener(n,function e(){t.removeEventListener(n,e,{passive:!0}),null!==r&&(clearTimeout(r),r=null)},{passive:!0})}},{key:"_addPrefetchLink",value:function(i){return this.prefetched.add(i.href),new Promise(function(e,t){var n=document.createElement("link");n.rel="prefetch",n.href=i.href,n.onload=e,n.onerror=t,document.head.appendChild(n)}).catch(function(){})}},{key:"_prepareUrl",value:function(e){if(null===e||"object"!==(void 0===e?"undefined":r(e))||!1 in e||-1===["http:","https:"].indexOf(e.protocol))return null;var t=e.href.substring(0,this.config.siteUrl.length),n=this._getPathname(e.href,t),i={original:e.href,protocol:e.protocol,origin:t,pathname:n,href:t+n};return this._isLinkOk(i)?i:null}},{key:"_getPathname",value:function(e,t){var n=t?e.substring(this.config.siteUrl.length):e;return n.startsWith("/")||(n="/"+n),this._shouldAddTrailingSlash(n)?n+"/":n}},{key:"_shouldAddTrailingSlash",value:function(e){return this.config.usesTrailingSlash&&!e.endsWith("/")&&!this.regex.fileExt.test(e)}},{key:"_isLinkOk",value:function(e){return null!==e&&"object"===(void 0===e?"undefined":r(e))&&(!this.prefetched.has(e.href)&&e.origin===this.config.siteUrl&&-1===e.href.indexOf("?")&&-1===e.href.indexOf("#")&&!this.regex.excludeUris.test(e.href)&&!this.regex.images.test(e.href))}}],[{key:"run",value:function(){"undefined"!=typeof RocketPreloadLinksConfig&&new n(new RocketBrowserCompatibilityChecker({capture:!0,passive:!0}),RocketPreloadLinksConfig).init()}}]),n}();t.run();
}());
										</script>








<script type="text/javascript" id="SCRIPT_988">wp.i18n.setLocaleData( { 'text direction\u0004ltr': [ 'ltr' ] } );
																			</script>
<script type="text/javascript" id="SCRIPT_989">( function( domain, translations ) {
	var localeData = translations.locale_data[ domain ] || translations.locale_data.messages;
	localeData[""].domain = domain;
	wp.i18n.setLocaleData( localeData, domain );
} )( "elementor-pro", { "locale_data": { "messages": { "": {} } } } );
																				</script>
<script type="text/javascript" id="SCRIPT_990">var ElementorProFrontendConfig = {"ajaxurl":"https:\/\/cimt.com.br\/wp-admin\/admin-ajax.php","nonce":"34aae23a39","urls":{"assets":"https:\/\/cimt.com.br\/wp-content\/plugins\/elementor-pro\/assets\/","rest":"https:\/\/cimt.com.br\/wp-json\/"},"shareButtonsNetworks":{"facebook":{"title":"Facebook","has_counter":true},"twitter":{"title":"Twitter"},"linkedin":{"title":"LinkedIn","has_counter":true},"pinterest":{"title":"Pinterest","has_counter":true},"reddit":{"title":"Reddit","has_counter":true},"vk":{"title":"VK","has_counter":true},"odnoklassniki":{"title":"OK","has_counter":true},"tumblr":{"title":"Tumblr"},"digg":{"title":"Digg"},"skype":{"title":"Skype"},"stumbleupon":{"title":"StumbleUpon","has_counter":true},"mix":{"title":"Mix"},"telegram":{"title":"Telegram"},"pocket":{"title":"Pocket","has_counter":true},"xing":{"title":"XING","has_counter":true},"whatsapp":{"title":"WhatsApp"},"email":{"title":"Email"},"print":{"title":"Print"}},"facebook_sdk":{"lang":"pt_BR","app_id":""},"lottie":{"defaultAnimationUrl":"https:\/\/cimt.com.br\/wp-content\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json"}};
																					</script>



<script type="text/javascript" id="SCRIPT_994">var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false},"i18n":{"shareOnFacebook":"Compartilhar no Facebook","shareOnTwitter":"Compartilhar no Twitter","pinIt":"Fixar","download":"Baixar","downloadImage":"Baixar imagem","fullscreen":"Tela cheia","zoom":"Zoom","share":"Compartilhar","playVideo":"Reproduzir v\u00eddeo","previous":"Anterior","next":"Pr\u00f3ximo","close":"Fechar"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"responsive":{"breakpoints":{"mobile":{"label":"Celular","value":767,"default_value":767,"direction":"max","is_enabled":true},"mobile_extra":{"label":"Celular extra","value":880,"default_value":880,"direction":"max","is_enabled":false},"tablet":{"label":"Tablet","value":1024,"default_value":1024,"direction":"max","is_enabled":true},"tablet_extra":{"label":"Tablet extra","value":1200,"default_value":1200,"direction":"max","is_enabled":false},"laptop":{"label":"Laptop","value":1366,"default_value":1366,"direction":"max","is_enabled":false},"widescreen":{"label":"Widescreen","value":2400,"default_value":2400,"direction":"min","is_enabled":false}}},"version":"3.6.3","is_static":false,"experimentalFeatures":{"e_dom_optimization":true,"e_optimized_assets_loading":true,"e_optimized_css_loading":true,"a11y_improvements":true,"e_import_export":true,"additional_custom_breakpoints":true,"e_hidden_wordpress_widgets":true,"theme_builder_v2":true,"hello-theme-header-footer":true,"landing-pages":true,"elements-color-picker":true,"favorite-widgets":true,"admin-top-bar":true,"page-transitions":true,"form-submissions":true,"e_scroll_snap":true},"urls":{"assets":"https:\/\/cimt.com.br\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"active_breakpoints":["viewport_mobile","viewport_tablet"],"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description","hello_header_logo_type":"title","hello_footer_logo_type":"logo"},"post":{"id":12,"title":"cimt.com.br%20%E2%80%93%20Descubra%20como%20mudar%20a%20sua%20mentalidade%20e%20alcan%C3%A7ar%20seus%20maiores%20objetivos","excerpt":"","featuredImage":false}};
																									</script>


<script id="SCRIPT_997">window.lazyLoadOptions={elements_selector:"img[data-lazy-src],.rocket-lazyload,iframe[data-lazy-src]",data_src:"lazy-src",data_srcset:"lazy-srcset",data_sizes:"lazy-sizes",class_loading:"lazyloading",class_loaded:"lazyloaded",threshold:300,callback_loaded:function(element){if(element.tagName==="IFRAME"&&element.dataset.rocketLazyload=="fitvidscompatible"){if(element.classList.contains("lazyloaded")){if(typeof window.jQuery!="undefined"){if(jQuery.fn.fitVids){jQuery(element).parent().fitVids()}}}}}};window.addEventListener('LazyLoad::Initialized',function(e){var lazyLoadInstance=e.detail.instance;if(window.MutationObserver){var observer=new MutationObserver(function(mutations){var image_count=0;var iframe_count=0;var rocketlazy_count=0;mutations.forEach(function(mutation){for(var i=0;i<mutation.addedNodes.length;i++){if(typeof mutation.addedNodes[i].getElementsByTagName!=='function'){continue}
if(typeof mutation.addedNodes[i].getElementsByClassName!=='function'){continue}
images=mutation.addedNodes[i].getElementsByTagName('img');is_image=mutation.addedNodes[i].tagName=="IMG";iframes=mutation.addedNodes[i].getElementsByTagName('iframe');is_iframe=mutation.addedNodes[i].tagName=="IFRAME";rocket_lazy=mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');image_count+=images.length;iframe_count+=iframes.length;rocketlazy_count+=rocket_lazy.length;if(is_image){image_count+=1}
if(is_iframe){iframe_count+=1}}});if(image_count>0||iframe_count>0||rocketlazy_count>0){lazyLoadInstance.update()}});var b=document.getElementsByTagName("body")[0];var config={childList:!0,subtree:!0};observer.observe(b,config)}},!1)
																												</script>

<script id="SCRIPT_999">function lazyLoadThumb(e){var t='<img data-lazy-src="https://i.ytimg.com/vi/ID/hqdefault.jpg" alt="" width="480" height="360"><noscript><img src="https://i.ytimg.com/vi/ID/hqdefault.jpg" alt="" width="480" height="360"></noscript>',a='<button class="play" aria-label="play Youtube video"></button>';return t.replace("ID",e)+a}function lazyLoadYoutubeIframe(){var e=document.createElement("iframe"),t="ID?autoplay=1";t+=0===this.parentNode.dataset.query.length?'':'&'+this.parentNode.dataset.query;e.setAttribute("src",t.replace("ID",this.parentNode.dataset.src)),e.setAttribute("frameborder","0"),e.setAttribute("allowfullscreen","1"),e.setAttribute("allow", "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"),this.parentNode.parentNode.replaceChild(e,this.parentNode)}document.addEventListener("DOMContentLoaded",function(){var e,t,p,a=document.getElementsByClassName("rll-youtube-player");for(t=0;t<a.length;t++)e=document.createElement("div"),e.setAttribute("data-id",a[t].dataset.id),e.setAttribute("data-query", a[t].dataset.query),e.setAttribute("data-src", a[t].dataset.src),e.innerHTML=lazyLoadThumb(a[t].dataset.id),a[t].appendChild(e),p=e.querySelector('.play'),p.onclick=lazyLoadYoutubeIframe});</script>
																														</script> class RocketElementorAnimation{constructor(){this.deviceMode=document.createElement("span"),this.deviceMode.id="elementor-device-mode",this.deviceMode.setAttribute("class","elementor-screen-only"),document.body.appendChild(this.deviceMode)}_detectAnimations(){let t=getComputedStyle(this.deviceMode,":after").content.replace(/"/g,"");this.animationSettingKeys=this._listAnimationSettingsKeys(t),document.querySelectorAll(".elementor-invisible[data-settings]").forEach(t=>{const e=t.getBoundingClientRect();if(e.bottom>=0&&e.top<=window.innerHeight)try{this._animateElement(t)}catch(t){}})}_animateElement(t){const e=JSON.parse(t.dataset.settings),i=e._animation_delay||e.animation_delay||0,n=e[this.animationSettingKeys.find(t=>e[t])];if("none"===n)return void t.classList.remove("elementor-invisible");t.classList.remove(n),this.currentAnimation&&t.classList.remove(this.currentAnimation),this.currentAnimation=n;let s=setTimeout(()=>{t.classList.remove("elementor-invisible"),t.classList.add("animated",n),this._removeAnimationSettings(t,e)},i);window.addEventListener("rocket-startLoading",function(){clearTimeout(s)})}_listAnimationSettingsKeys(t="mobile"){const e=[""];switch(t){case"mobile":e.unshift("_mobile");case"tablet":e.unshift("_tablet");case"desktop":e.unshift("_desktop")}const i=[];return["animation","_animation"].forEach(t=>{e.forEach(e=>{i.push(t+e)})}),i}_removeAnimationSettings(t,e){this._listAnimationSettingsKeys().forEach(t=>delete e[t]),t.dataset.settings=JSON.stringify(e)}static run(){const t=new RocketElementorAnimation;requestAnimationFrame(t._detectAnimations.bind(t))}}document.addEventListener("DOMContentLoaded",RocketElementorAnimation.run);
<!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1651191545 -->
<span id="SPAN_1001"></span><span id="SPAN_1002"></span>
<svg id="svg_1003">
																															</svg>