<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jornada Idade é só 1 Número - Tati Lima</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/Tati/jornada_favicon.png" rel="icon">
  <link href="img/Tati/Jornada_apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">
  
  <!-- =======================================================
  * Template Name: Knight - v4.3.0
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" style="display:inline-block;vertical-align:auto">
      <a href="#pricing" class="hero-logo" data-aos="zoom-in"><img src="img/Tati/JORNADA.png" alt="Logo da jornada idade é só um número" width="340px" height="340px" class="img-fluid"></a>
      <div class="div" style="display:inline-block;vertical-align:auto">
        <h1 data-aos="zoom-in" >Bem-vinda à Jornada Idade é só 1 número</h1>
        <h2 data-aos="fade-up">Onde meninas se tornam mulheres!</h2>
        <a data-aos="fade-up" data-aos-delay="200" href="#pricing" class="btn-get-started">QUERO A MINHA VAGA AGORA!</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <!--<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="/"><img src="img/Tati/JORNADA.png" alt="" class="img-fluid" width="180px" height="180px"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav> --><!-- .navbar -->

   <!--</div>
  </header> --><!-- End Header -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2 id="tatiTitulo">O que é a Jornada Idade é Só 1 Número?</h2>
          <h3>A mudança que você necessita na sua vida!</h3>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img url="https://lh3.googleusercontent.com/KoyaMYL9PwiZQv84NfMLD79N2T1I3PKG1O9YhC_GLej0NTdK2KmMKj95OFj76pOEe5rCz3gQCU53wi9BzPxC=w1919-h992" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <h3 id="tatiTitulo">DESCUBRA COMO MUDAR A SUA MENTALIDADE E SE TRANSFORMAR NA MULHER QUE VOCÊ DESEJA SER!</h3>
            </br>
              <!-- <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul> -->
              <p>
                Independente da sua idade, da sua história de vida ou do estado emocional que você se encontre, é possível transformar a sua vida a partir de agora. Desenvolvendo autoconfiança, coragem e novas habilidades para alcançar os níveis de sucesso nas principais áreas da sua vida: relacionamento, saúde/corpo e dinheiro. 
              </p>
              <p>  
              A maioria das mulheres carregam consigo estados emocionais de sofrimento que as atrapalham na conquista de seus sonhos - objetivos. 
                
                Sentimentos de comparação, ansiedade, inseguranças com a aparência/com a idade, carências, angústias, raiva em alguns momentos, medo do novo, baixa autoestima,.....todos sentimentos que  travam e atrapalham nos relacionamentos, bloqueiam de avançar no mercado de trabalho e que acabam refletindo de forma negativa na saúde física e mental da mulher. 
              </p>
              <p> 
                A Jornada Idade é só um Número é uma mentoria  para mulheres aprenderem através de “um passo a passo” de mudança de mentalidade e aquisição de novas virtudes, como reconstruírem suas vidas materiais, emocionais e espirituais, resgatando a confiança em si mesmas e adquirindo força de vida para poderem alcançar a vida que realmente desejam.  
              </p>
            </div>
          </div>
        </div>

      </div>
    </br>
  </br>
      <div class="container2">
        <h3 id="tatiTitulo2" >AQUI A SUA MENINA  INSEGURA SE TRANSFORMARÁ  EM UMA  MULHER  FORTE, FEMININA, CONFIANTE E REALIZADORA.</h3>
      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Você deve estar se perguntando: </h2>
          <h3>COMO FUNCIONA A JORNADA IDADE É SÓ UM NÚMERO?</h3>
        </div>

        <div class="row">
          <div class="col-lg-12 order-1 order-lg-1">
            <!-- <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>Est labore ad</h4>
              <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>
              <h4>Harum esse qui</h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-images"></i>
              <h4>Aut occaecati</h4>
              <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
            </div> -->
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <!--<i class="bx bx-shield"></i>-->
              <h4>Com base em coaching e física quântica você vai aprender a quebrar o hábito de ser a pessoa que você foi até hoje para se transformar na mulher que sempre desejou ser: confiante, disciplinada, focada, feminina, corajosa e próspera. </h4>
            </br>
            <h4>Você vai aprender a definir objetivos nas áreas de relacionamento, saúde/corpo e dinheiro e mapear um plano de ação para atrair, conquistar e manter os níveis de sucesso que deseja superando medos, inseguranças e os mecanismos de autossabotagem que até hoje impediram você de avançar nas áreas que deseja.</h4>
              <!--<p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>-->
            </div>
          </div>
          <!-- <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("img/services.jpg");' data-aos="fade-left" data-aos-delay="100"></div> -->
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Featured Section ======= -->
    <!--<section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="img/featured-1.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="img/featured-2.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="img/featured-3.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
                  <img src="img/featured-4.png" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                  <h4>Modi sit est</h4>
                  <p>Quis excepturi porro totam sint earum quo nulla perspiciatis eius.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                  <h4>Unde praesentium sed</h4>
                  <p>Voluptas vel esse repudiandae quo excepturi.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                  <h4>Pariatur explicabo vel</h4>
                  <p>Velit veniam ipsa sit nihil blanditiis mollitia natus.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                  <h4>Nostrum qui quasi</h4>
                  <p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section> --><!-- End Featured Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content" data-aos="fade-up">

              <h3 id="tatiTitulo">16 SEMANAS DE ATIVAÇÃO</h3>
              <p>A Jornada Idade é só um Número não é um curso motivacional, é uma mentoria ATIVACIONAL pra te colocar em campo e em ação desde o primeiro dia, com exercícios práticos pra que você sinta dia após dia que está deixando para trás a menina insegura e se transformando na mulher confiante e realizadora.   

                Durante 16 semanas você terá um encontro semanal comigo e com uma comunidade de mulheres que assim como você, estão buscando apoio, orientação e querendo aprender a ter MAIS VIDA DENTRO DE SUAS PRÓPRIAS VIDAS! 
              </p>
            </br>
            <p>Durante esses encontros você aprenderá através de uma mudança de mentalidade a desenvolver disciplina, foco, gerenciamento de tempo, construir novos hábitos, a criação de uma nova rotina, a ter uma postura de vencedora, autoestima e saber O QUE e COMO fazer o que precisa ser feito para alcançar os seus objetivos. </p>
              <!--<h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>-->
            </div>

            <!--<div class="accordion-list">
              <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                    </p>
                  </div>
                </li>

              </ul>
            </div>-->

          </div>

          <!--<div class="col-lg-5 order-1 order-lg-2 align-items-stretch video-box" style='background-image: url("img/why-us.jpg");' data-aos="zoom-in">
            <a href="https://www.youtube.com/watch?v=LIqQNG_q2us" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
    
          </div>-->
          <div class="col-lg-5 order-1 order-lg-2 mt-2 mb-2 video-box" id="imgTati" data-aos="fade-up">
            <img id="imgTati2" src="img/Tati/Tati-2-fundo.jpg" class="img-fluid" alt="" width="300px" height="580px">
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Portfolio Section ======= -->
    <!--<section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">
        <div class="quote-icon">
          <i class="bx bxs-quote-right"></i>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/Tati/cimt.jpg" class="testimonial-img" alt="">
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/Tati/cimt2.jpg" class="testimonial-img" alt="">
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/Tati/cimt3.jpg" class="testimonial-img" alt="">
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/Tati/cimt4.jpg" class="testimonial-img" alt="">
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/Tati/cimt5.jpg" class="testimonial-img" alt="">
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/Tati/cimt6.jpg" class="testimonial-img" alt="">
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Clients Section ======= -->
    <!--<section id="clients" class="clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in">
            <img src="img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="100">
            <img src="img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="200">
            <img src="img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="300">
            <img src="img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="400">
            <img src="img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="500">
            <img src="img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Clients Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team ">
      <div class="containerTeam">

        <div  class="section-title" data-aos="fade-up">
          <h2 id="tatiTitulo">QUEM É TATI LIMA?</h2>
        </div>

        <div class="row">

          <div class="col-lg-12 col-md-12 d-flex ">
            <div class="member" data-aos="zoom-in">
              <div class="member-img">
                <img id="quemTati" src="img/Tati/Tati-3-fundo.jpg" class="img-fluid" alt="" width="300px" height="580px">
                <!--<div class="social" width="300px">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>-->
              </div>
              <div class="member-info">
                <h4>TATI LIMA</h4>
                <p>
                  Meu nome é Tatiana, mas por onde eu passo em menos de 3 minutos que falei meu nome em seguida já me chamam de Tati.
                  Tenho 46 anos, sou Curitibana, mas por ter morado no Nordeste por um tempo me sinto 30% nordestina.
                  Comecei a minha jornada para me tornar mentora em Maturidade Humana para mulheres em 2019 paralelamente a minha empresa de semijoias.
                </p>
              </br>
              <p>
                Trabalhando durante tantos anos com mulheres, ouvindo sobre suas inseguranças, seus medos recorrentes, preocupações com a idade, com o tempo passado, vendo suas angústias e preocupações
                decidi que eu iria contribuir com o Mundo, ajudando mulheres a recuperarem a coragem de viver, a autoestima, mostrando a elas como se tornarem mulheres fortes, corajosas, disciplinadas e prósperas mudando apenas as suas mentalidades.
              </p>
              </br>
              <p>
                Sou empreendedora, fundei a Selecta Joias em 2012. Durante muitos anos trabalhei na área de marketing, com vendas e fui apresentadora de televisão.
                Me separei com uma criança de 5 meses num estado distante da minha família. Bem cedo aprendi a importância de me reinvetar e de usar a ROTINA e a DISCIPLINA paralelamente
                transformar a minha vida em diversas ocasiões. Com o tempo, entendi meu verdadeiro propósito e pude parelalamente a Selecta Joias, desenvolver
                esse trabalho de Maturidade Humana, minha paixão.
              </p>
              </div>
            </div>
          </div>

          <!--<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                <img src="img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-img">
                <img src="img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat</p>
              </div>
            </div>
          </div>-->

        </div>

      </div>
    </section>
    <!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="containerGarantia">
          <div class="section-title" data-aos="fade-up">
            <img src="img/Tati/garantia.png" class="img-fluid" alt="" width="164px" height="163px">
            <h2>RISCO ZERO: 
              <span>GARANTIA INCONDICIONAL</span>
            </h2>
            <p>Ou você ama a Jornada Idade é só 1 número, ou devolvo o seu dinheiro!</p>
            <p>Você tem 7 dias corridos para testar o produto e tirar as suas próprias conclusões.</p>
          </div>
        </div>
        <div class="row">

          <!--<div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>-->

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in">
              <span class="recommended-badge">SUA VIDA COMEÇA A MUDAR, AQUI E AGORA!</span>
            </br>
              <h3>JORNADA IDADE É SÓ 1 NÚMERO</h3>
              <h4><sup>12x de R$</sup>129,45<span> ou </span></h4>
              <ul>
                <li>R$1.297,00 à vista</li>
              </ul>
              <div class="btn-wrap">
                <a id="btn-buy" href="https://pay.hotmart.com/B55739677Q?off=12w0xejg&bid=1651443271493" class="btn-buy">GARANTA A SUA VAGA</a>
              </div>
            </div>
          </div>

          <!--<div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>-->

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Perguntas <span>frequentes</span></h2>
        </div>

        <ul class="faq-list">

          <li data-aos="fade-up">
            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Quanto tempo preciso me dedicar por dia para completar a Jornada em 6 meses? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Aconselhamos que você dedique uma hora do seu dia para o estudo da Jornada. Mas a prática deve ser constante para que os resultados possam chegar até você.               
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">Não tenho meus objetivos claros ainda, a Jornada é para mim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Com certeza. Nosso intuito é auxiliar e confirmar a definição dos seus objetivos. Você terá ferramentas suficientes para encontrá-los.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">Por onde terei contato com a Tati? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
              O acesso a Tati poderá ser feito via e-mail ou direct do instagram. Caso a sua dúvida seja a respeito da plataforma ou alguma burocracia de acesso, podem entrar em contato pelo whatsapp da equipe que será fornecido na plataforma.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">Tenho alguma garantia?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Você tem 7 dias corridos para testar a Jornada Idade é Só 1 Número sem riscos. Se por qualquer razão achar que o investimento não valeu a pena, é só solicitar o reembolso na plataforma e você receberá de volta 100% do valor pago sem a menor burocracia.              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">Pra quem é a Jornada Idade é Só 1 Número? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Para todas as pessoas que desejam modificar seus resultados através da transformação da mente.
                É importante dizer que não exigimos idade mínima para ingressar no treinamento.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Eu posso dividir o acesso da Jornada com alguém? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Não. A Jornada só garante um acesso por compra.
                Mas você certamente poderá chamar pessoas da sua casa para estarem com você, como por exemplo irmã, marido, esposa, pai e mãe.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="600">
            <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Tati, você garante meus resultados? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Não. O sucesso das transformações depende do cumprimento fiel ao conteúdo que preparamos e usamos nas nossas próprias vidas.
                Dependerá de sua dedicação, esforço, repetição e persistência. Muitas pessoas já alcançaram seus objetivos, conforme mostrado nas seções de depoimentos. </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="700">
            <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">O acesso ao produto é imediato? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Se você adquirir a Jornada por cartão de crédito, sim.
                A HotMart enviará um e-mail imediatamente. Caso você faça seu pagamento no boleto, tem até 3 dias úteis para a chegada do link de acesso no e-mail.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="800">
            <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Posso pagar em dois cartões? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Sim, temos a opção de múltiplos cartões e você paga o quanto quiser em cada cartão.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="900">
            <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Como o conteúdo da Jornada será disponibilizado? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Todo o conteúdo da Jornada Idade é Só 1 Número será disponibilizado na plataforma HotMart.
              </p>
            </div>
          </li>
        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Fale conosco</h2>
          <p>Temos uma equipe preparada para tirar todas as suas dúvidas, apenas escolha o meio de contato.</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localização:</h4>
                <p>Cutitiba-PR<br>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>E-mail:</h4>
                <p>tnl.idadeesoumnumero@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Whatsapp:</h4>
                <p>+55 (41)99837-3470</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-left">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu E-mail" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Messagem" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Carregando</div>
                <div class="error-message"></div>
                <div class="sent-message">Sua mensagem foi enviada com sucesso. Obrigado!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar menssagem</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-12">
            <a href="#header" class="scrollto footer-logo"><img src="img/Tati/jornada.png" alt=""></a>
        </div>

        <!--<div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>-->

        <!--<div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>-->

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Tati Lima</span></strong>. Todos os direitos reservados.
      </div>
      <div class="credits">
        Editado por <a id="fredy" href="https://instagram.com.br/fredyycarneiro" target="_blank">FredyyCarneiro</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script> AOS.init({
    duration: 1200,})</script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>